
html, body {
  font-family: system-ui;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: 0;
}

.arrow.visible {
  display: block;
}

.arrow.facing {
  color: hsl(172deg 100% 37%);
}

.log {
  padding: 10px;
  border-radius: 10px;
  white-space: pre-wrap;
  z-index: 1;
}

.arrow.visible + .log {
  margin-top: 60px;
}


.arrow {
  font-size: 10px;
  font-family: sans-serif;
  background-color: black;
  height: 10px;
}


html, body {
  font-family: system-ui;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: 0;
}

.arrow.visible {
  display: block;
}

.arrow.facing {
  color: hsl(172deg 100% 37%);
}
